* { 
    background-color:gray;
}
.date
{
    color:red;
}
#orange
{
    color:yellow;
}
div
{
    color:green;
}
[type="submit"]
{
    margin: 150px;
    color:red;
}
input:focus {
    color:yellow;
}
input:hover {
    color:green;
}
  
  




 
 
